<h3>Create an Otter</h3>
<form action='/otters ' method='post'>
    Name: <input type='text' name='name'>
    Age: <input type='number' name='age'>
    <input type='submit' value='Submit'>
</form>
<a href='/'>Back</a>
